@import "./_variables.styl"

.info
  color info !important
.primary, .blue
  color primary !important
.success, .green
  color success !important
.warning, .orange
  color warning !important
.danger, .red
  color danger !important
.white
  color white !important

.gray-darker
  color gray-darker
.gray-dark
  color gray-dark
.gray
  color gray
.gray-light
  color gray-light
.gray-lighter
  color gray-lighter

.bg-primary, .bg-blue
  background-color primary
  color white
.bg-success, .bg-green
  background-color success
  color white
.bg-warning, .bg-orange
  background-color warning
  color white
.bg-danger, .bg-red
  background-color danger
  color white
.bg-white
  background-color white
  color gray-dark
.bg-gray
  background-color gray
  color white
.bg-gray-light
  background-color gray-light
  color white
