/*
The content `<div>` is where all your content goes.
*/
.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
     background-color: #1876B5;
 }

.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
    color: #fff;
}
 .header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.content h1 {
  margin: 0.8em 0;
  font-weight: 300;
  color: #666;
}

.content h2 {
  margin: 1.2em 0 0.3em 0;
  font-weight: 200;
  color: #888;
}

pre {
  padding: 10px;
  background-color: #FAFAFA;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #EEEEEE;
  font-family: monospace;
}
code {
  background-color: #FAFAFA;
  border: 1px solid #EEEEEE;
  padding: 1px 5px;
  border-radius: 5px;
}

.sublist {
  border: none !important;
}
.sublist li {
  list-style-type: none;
  margin-left: -20px
}
